header.header
  nav.header-nav
    ul.nav-list
      li.nav-item
        a(href='/', class=(path==='/' ? 'active' : '')) Home
      li.nav-item
        a(href='/1', class=(path==='/1' ? 'active' : '')) Page 1
      li.nav-item
        a(href='/2', class=(path==='/2' ? 'active' : '')) Page 2